{% extends "playlist/base.html" %}

{% load static %}

{% block css %} <link rel="stylesheet" href= "{% static 'playlist/css/songs.css' %}"/> {% endblock %} 
    
{% block title %} Signup {% endblock %}

{% block heading %}
<center>About</center>
{% endblock %}

{% block content%}

    <h1>About Us:</h1>
    <p>With Zing, you can easily find the music of your choice and easily 
       share it with other people. You can also browse through the collections 
       of friends, artists, and celebrities, or create a playlist of your own.
        Soundtrack your life with Zing. Subscribe or listen for free.
    </p>


{% endblock %}