{% extends "playlist/base.html" %}

{% load static %}

{% block css %} <link rel="stylesheet" href= "{% static 'playlist/css/songs.css' %}"/> {% endblock %} 
    
{% block title %} Login {% endblock %}

{% block heading %}
<center>Login</center>
{% endblock %}

{% block content%}

    

    <form method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
      
        <input type="submit" name="btn" value="login">
   </form>
   <br>
   <b><span>{{status}}</span></b>


{% endblock %}